h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
}

h1.a
{
    /* h-shadow | v-shadow | color */
    text-shadow: 0.2rem 0.2rem steelblue;
}

h1.b
{
    /* h-shadow | v-shadow | blur | color */
    text-shadow: 0.4rem 0.3rem 0.7rem steelblue;
}


h1.c
{
    /* White Text */
    color: #fff;
    text-shadow: 0.2rem 0.2rem 1rem steelblue;
}

h1.d
{
    /* Negative Values */
    text-shadow: -0.4rem -0.3rem 0.7rem steelblue;

    
}