#box-1
{
    background-color:darkturquoise;
    border:  3px solid black; /* width/style/color*/
    border-top-left-radius: 10px;  /* for round corner*/
    border-top-right-radius: 200px;
}

#box-2
{
    background: #999;
    color:#000;
    border-top: blueviolet solid 10px;
    border-radius: 10px;  /* For round corners*/
}

#box-3
{
    /* background-image: url('/img/image1.png'); 
    background-repeat: no-repeat; 
    background-position: -5px -50px; 
    background-position: center center; 
    background-size: cover;  */

    /* we can write the code below instead of above*/

    background: url('/img/image2.png') no-repeat center center/cover;
    height: 300px;
    width: 600px;
}

#box-4
{
    background: url('/img/image2.png') no-repeat top center;
    background-attachment: fixed;
}